<!-- 
The template for Angular
AUTHOR: Diwen Zhang
EMAIL:  zhangdiw@sheridancollege.ca
CREATED: 2021-08-13
UPDATED: 2021-08-14  -->

<h1>Angular Tutorials</h1>

<div class="gridblock">
<mat-card *ngFor="let v of videos; let i = index" class="container">
    <img mat-card-image [src]="v.thumbnaiUrl" >
    <mat-card-header >
        <div mat-card-avatar class="channel-icon" [ngStyle]="{'background-image':getAvatarUrl(i)}"></div>
        <mat-card-title>{{v.title}}</mat-card-title>
        <mat-card-subtitle>{{v.channel}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="filling">
	</mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="openVideo(i)">WATCH</button>
    </mat-card-actions>
</mat-card>
</div>